* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
header {
    z-index: 10;
}

main{
    margin-top: 340px;
    margin-bottom: 20px;
}

.table_section{
    width:90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow-x:auto;
}

.button_section{
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

table{
    margin-top: 50px;
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td{
    width:14%;
    text-align: left;
    border: 1px solid #444444;
    padding: 8px;
}

th {
    background-color: #2E2E2E;
    color: #FFFFFF;
    position:sticky;
    top: 0px;
}

.checkbox_td{
    width: fit-content;
}

.table_outer {
    height: 15em; 
    overflow: auto; 
}

button{
    width: 20%;
    padding: 2px;
    height: 35px;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: bold;
    background-color: rgb(211, 26, 26);
    border: none;
    color: #FFFFFF;
}

button:hover {
    cursor: pointer;
}

tbody tr:nth-child(even){background-color: #f2f2f2}

.failure_sec{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

@media only screen and (min-width: 960px) {
    main {
        margin-top: 225px;
        margin-bottom: 225px;
    }
}