/* CSS für das Anfrageformular*/

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main{
  margin-top: 330px;
}

.InteresseBox {
  font-size: 18px;
  margin-bottom: 100px;
  width: 350px;
  height: auto;
  margin-bottom: 10px;
  padding: 25px 25px 25px 25px;
}


.Text {
  font-weight: 500;
}

.Formular {
  margin-right: 100px;
  width: auto;
  height: auto;
  margin-bottom: 200px;
  padding: 25px 25px 25px 25px;
}

.Beschreibung {
  font-size: 18px;
  font-weight: 500;
}

.Überschrift {
  font-size: 35px;
}

.ButtonStyle {
  width: 100px;
  height: auto;
  background-color: azure;
  border-color: azure;
}

.TopPad {
  padding-top: 50px;
}

main table{
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom:5px;
  border: 3px solid #2E2E2E;
}

main h1 {
  margin-bottom: 20px;
  font-size: 30px;
}

main td{
  vertical-align: top;
  padding: 5px;
}

.input_label {
  font-size: 18px;
  font-weight: bold;
  padding-right: 30px;
}

.input_txt{
  margin-bottom: 10px;
  font-size: 18px;
  width: 100%;
}

.input_maße{
  margin-bottom: 10px;
  font-size: 18px;
  width: 50px;
}

.submit_btn{
  width: fit-content;
  padding:2px;
  height: 35px;
  font-weight: bold;
  background-color: rgb(211, 26, 26);
  border: none;
  color: #FFFFFF;
}

.submit_td {
  text-align: right;
}

.submit_btn:hover{
  cursor: pointer;
}

.failure_sec{
    width: 50%;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 50px;
    text-align: center;
}


@media only screen and (min-width: 960px) {
  main{
    margin-top:100px;
  }

  .main_section{
    margin:auto;
    width:50%;
  }

  .input_txt{
    margin-bottom: 10px;
    font-size: 18px;
    width: 280px;
  }

  @media only screen and (min-width: 1210px) {
    .main_section{
      width:100%;
    }
    
    .InteresseBox{
      float: left;
      margin-top:70px;
      margin-left: 40px;
    }
  
    .Formular{
      float: right;
      margin-left: 50px;
    }
  }
}